.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}

.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left:20px;
}
.header__middle{
    display: flex;
    align-items: center;
    width: 42%;
    /* height: 30px; */
    border: 1px solid gray;
    background: transparent;
    /* border-radius: 40px 0 0 40px; */
    caret-color: var(--yt-spec-text-primary);

}

.header__middle > input{
    flex:1;
    border: 0;
    outline: none;
    width: 100%;
}
.header__right{
    display: flex;
    align-items: center;
    color: black;
}

.header__inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}
.header__icon{
    margin-right: 8px;
}